@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.css-364vej-MuiStack-root {
  padding: 0 !important;
}
.css-su0jee-MuiContainer-root {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 90% !important;
  height: 55px !important;
}
.border {
  border: 2px solid red !important;
}
.css-13v49lt-MuiListItem-root {
  height: 32px !important;
}
.css-163ljxj-MuiStack-root {
  height: 50px !important;
}